@font-face {
    // on définit le nom de la font-family qui sera dispo : ici Montserrat
    font-family: "Squada One Regular";
    src: url("~/assets/fonts/SquadaOne-Regular.ttf");
}
@font-face {
    // on définit le nom de la font-family qui sera dispo : ici Montserrat
    font-family: "Raleway ExtraBold";
    src: url("~/assets/fonts/Raleway-ExtraBold.ttf");
}