body {
   background-image: url(https://image.freepik.com/photos-gratuite/concept-resurrection-crucifixion-jesus-christ-croix-au-coucher-du-soleil_1150-7202.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}